.tab {
  position: relative;
  z-index: 5;
  border-radius: 4px 4px 0 0;
  border-top-style: solid;
  border-top-width: 4px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 24px;

  background-color: transparent;
  color: #555;
  border-top-color: transparent;

  &.--active {
    border-top-color: #131313;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    color: #131313;
  }
}

.tab-group {
  display: flex;
  width: 100%;

  & + * {
    padding: 16px;
    background-color: #fff;
    min-height: 40px;
    position: relative;
    z-index: 6;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    width: calc(100% - 32px);
  }
}
